@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Cormorant+SC:wght@300&family=Elsie+Swash+Caps:wght@900&family=Petit+Formal+Script&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Antic Didone', serif;
    color:  gray;
}

/*---------Random Cocktail Container---------*/

#random-cocktail-container-section {
    height: 100%;
}

.random-cocktail-container {
    background-color: #aeecef;
    padding: 20px;
    
}

.random-cocktail-container__title {
    font-family: 'Elsie Swash Caps', cursive;
    letter-spacing: 0.5rem;
    margin-top: 10%;
}

.random-cocktail-container_info {
    
    margin: 10%;
}

.random-cocktail-card {
    background-color: white;
}

.random-btn-wrapper {
    padding-top: 5vw;
}

.random-button-wrapper_button {
    
    font-size: 1.75em;
    background-color: #80DED9;
    margin: 6% 0%;
    padding: 10px;
}


/*---------User Cocktail Search Container---------*/

.search-bar {
    margin: 20% 0%;
}

.cocktail-form-searchbar {
    margin: 10% 0%;
    width: 200px;
    height: 35px;
    
}

.user-cocktail-container {
    background-color: pink;
    padding: 30px;
    margin-top: 40%;

}

/*---------Navbar---------*/

.navbar {
    background-color: #fafafa;
    padding: 20px;
   
}

.nav-link {
    font-family: 'Antic Didone', serif;
    color: pink;
}

.nav-item {


}
/*--------Contact Form--------*/

.contact-form {
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 

}

.contact-us h3 {
    color: pink;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    padding: 45px 0px 0px 0px;
}

.contact-us h6 { 
    color: #fafafa;
    letter-spacing: 0.3rem;
    padding: 0px 0px 55px 0px;
}

.contact-button {
    color: #fafafa;
    letter-spacing: 0.3rem;
    background-color: pink !important;
    border-color: #80DED9 !important;
}

/*---------Footer Container---------*/


.footer-copyright a {
    color: gray;
  
}

.list-inline-item a i {
    color: #80DED9;
}

