@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Cormorant+SC:wght@300&family=Elsie+Swash+Caps:wght@900&family=Petit+Formal+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
  }
/*---------Random Cocktail Container---------*/

.random-cocktail-container {
    background-color: #aeecef;
    color: gray;
    margin-top: 7%;;
    
}

.random-cocktail-container__title {
    font-family: 'Elsie Swash Caps', cursive;
    letter-spacing: 0.5rem;
    margin-top: 10%;
}

.random-cocktail-container_info {
    font-family: 'Antic Didone', serif;
    margin: 10%;
}

.random-cocktail-card {
    background-color: white;
}

.random-button-wrapper_button {
    font-family: 'Antic Didone', serif;
    font-size: 1.75em;
    background-color: #80DED9;
    margin: 8% 0%;
    padding: 10px;
}


/*---------User Cocktail Search Container---------*/

.search-bar {
    background-color;
    margin: 20% 0%;
}

.cocktail-form-searchbar {
    margin: 10% 0%;
    width: 300px;
    height: 35px;
    
}
.cocktail-form-heading {
    font-family: 'Antic Didone', serif;
}




